// EXAMPLE

$replacement: 'tdm';

body {
  padding: 0;
  margin: 0;
}

.whitespace {
  height: 3000px;
  background-color: #eee;
  background-image: url("data:image/svg+xml,%3Csvg width='40' height='40' viewBox='0 0 40 40' xmlns='http://www.w3.org/2000/svg'%3E%3Cg fill='%23ffffff' fill-opacity='0.4' fill-rule='evenodd'%3E%3Cpath d='M0 40L40 0H20L0 20M40 40V20L20 40'/%3E%3C/g%3E%3C/svg%3E");
}

[data-#{$replacement}-open] {
  font-family: arial;
  padding: .5rem 2rem;
  background: #eee;
  display: inline-block;
  margin: 1rem;
  cursor: default;
  user-select: none;
}

[data-#{$replacement}-close] {
  font-family: arial;
  padding: .5rem 2rem;
  background: #ddd;
  display: inline-block;
  margin: 1rem;
  cursor: default;
  user-select: none;
}

#{$replacement}-component {
  font-family: Arial, Helvetica, sans-serif;
  color: #222;
  padding: 1rem;
  box-sizing: border-box;
}